@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap");

@theme {
  --font-LXWG: "LXGW WenKai Mono TC", monospace;
}

@layer base {
  body {
    font-family: var(--font-LXGW);
  }
}

@source "../index.html";
@source "../src";
